@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";


@theme {
  /* --color-*: initial; */
  --color-myGreen: #2EBB77;
  --color-lightGreen: #F6FDEC;
  --color-darkGreen: #DBF4E2;
  --color-myPurple: #B479D9;
  --color-myGray: #7E7E7E;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}